/* 

.login-right-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
   
  
   .input-field {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
    
  }
  
  @media   screen and (max-width: 768px) {
    .textlast{
        font-size: 6px;
    }
    .bytext{
       font-size: x-small; 
    }
    .nest{
        font-size: x-small;
    }
   
  } 
   */