input[type="date"]{
position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    
    opacity: 1;
    display: block;
    left: 10;
    
    border-width: thin
}